<% provide(:title, 'About Us') %>
<h1>About Us<h1>
<p>
  The <a href="http://www.shepherdnkomo.co.za/">Ruby Project</a>
  is a new intiative of Shepherd the Samurai tailored to meet the 
  Financial needs of the Stinkyinky Republic.
</p>
