<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on this app on 
  <a href="http://www.shepherdnkomo.co.za">Shepherd the samurai</a>
  Or to view our previous work visit
  <a href="http://www.ekhayamthathaguesthouses.co.za">Ekhaya Guest houses</a>
</p>
