<footer class="footer">
 <small>
   <a href="http://www.shepherdnkomo.co.za/">The Samurai</a>
   for the Stinkyinky Republic
 </small>
 <nav>
    <ul>
      <li><%= link_to "About",     about_path %></li>
      <li><%= link_to "Contact",   contact_path %></li>
      <li><a href="http://www.ekhayamthathaguesthouses.co.za/">Ekhaya</a></li>
    </ul>
 </nav>
</footer>
